<%- include('./partials/header.ejs')%>
<main>
  <section>
    <h3>Contact us</h3>
  </br>
    <h5>Email:</h5>
    <p>nkommi@uncc.edu</p>
</br>
    <h5>Phone:</h5>
    <p>1800-5678-234</p>
</br>
    <h5>Address:</h5>
    <p>1111, Universit Of North Carolina Charlotte, North Carolina , USA - 12345</p>
  </section>
</main>

<%- include('./partials/footer.ejs')%>
