<%- include('./partials/header.ejs')%>
<link rel="stylesheet" href="/css/error.css" />
<main>
  <section>
    <h3><%= error.status%> Error</h3>
    <p><%= error.message%></p>
  </section>
</main>
</div>
<%- include('./partials/footer.ejs')%>
