<%- include('./partials/header.ejs')%>
<main>
    <section>
      <h1>Welcome to Forex Tech. We are glad to see you.</h1>
      <p class="main_desc">
        Forex Tech is one of the leading electronic trading platform for
          people who want to trade their electronic devices. Over 10 million trades are
          done using this platform and we have 1 million happy active users.
          This platform is specialised in Laptops and supporting Accesories and spare parts
          related to the laptops.Why not buy directly from the wholesaler, without intermediaries, 
          at top prices? We are laptop spare parts dealer and distributor of many notebook manufacturers 
          for 20 years. And the best 3/4 of the orders are shipped to you on the same day.
      </p>
    </section>
  </main>
<%- include('./partials/footer.ejs')%>