.welcome{
    text-align: center;
    margin: 10px;
    
}
main {
    padding: 2rem;
    height: 90vh;
  }


.trade{
    text-align: center;
    margin: 2px;
    
}

.tradelist{
    margin: 1rem;
    text-decoration: underline;
    display: block;
}

table, th, td {
    border:1px solid black;
    
  }

  table {
    width: 60%;
   
  }